<h1>Edit an old cat</h1>

<form action = '<%= cat_url(@cat.id) %>' method = 'POST'>
<input type="hidden" name = "_method" value = 'PATCH'>

<label for = "name">Name: </label>
<input value = "<%= @cat.name %>" id ="name" type="text" name = "cat[name]"></input>
<br/>
<label for = "birthday">Birthday: </label>

<input id ="birthday" value = "<%= @cat.birth_date %>" type="text" name = "cat[birth_date]"></input>
<br/>

<label for = "color">Color: </label>
<input id ="color" type="text" name = "cat[color]" value = "<%= @cat.color %>"></input>
<br/>

<label for = "desc">Description: </label>
<input id ="desc" type="text" name = "cat[description]" value = "<%= @cat.description %>"></input>

<br/>

<label for = "sex">Sex: </label>

<select id = "sex" name= cat[sex]>
    <option value = "F" <%= @cat.sex == "F" ? "selected" : "" %>>F</option>
    <option value = "M" <%= @cat.sex == "M" ? "selected" : "" %>>M</option>

</select>
<br/>
<button>Update Cat</button>

</form>
